html {
	box-sizing:border-box;
}
html, body
{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';font-size: 17px;
}
*,*:before,*:after {
	box-sizing:inherit
}

/*NAV-BAR CSS*/
.navbar {
	padding: 15px;
	/*overflow: hidden;*/ /*Uncomment when adding background pic*/
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.navbar-color {
	background-color: #FFF;
}
.navbar-text {
	color: #000;
}
.navbar-right {
	float:right;
}
.navbar a {
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
	color: #000;
}

.navbar-no-background {
	padding: 15px;
	/*overflow: hidden;*/ /*Uncomment when adding background pic*/
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar-no-background a {
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
	color: #FFF;
}
/*END*/

.center-text {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 10px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: rgba(17, 17, 17, 0.8);
	color: white;
}

.content-padding {
	padding: 18px 16px;
}

.project-row {
	padding: 0px 8px;
}
.project-col {
	float: left;
	width: 100%;
	padding: 10px;
}
.section-title {
	border-bottom: solid 1px;
	border-color: #f1f1f1;
}
@media (min-width: 651px) {
	.project-col.half-row {
		width: 49.9999%;
	}
}

@media (min-width: 993px) {
	.project-col.quarter-row {
		width: 24.9999%;
	}
}
