html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  text-align: center;
  color: #f5f5f5;
}

.hero {
  background: url('https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg') no-repeat center;
  background-size: cover;
  background-color: rgba(0,0,0,0.75);
  background-blend-mode: multiply;
  height: 100%;
  width: 100%;
}

.inner-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  @media only screen and (min-width: 320px) {
    padding-left: 15px;
    padding-right: 15px; 
  }
  @media only screen and (min-width: 400px) {
    padding-left: 40px;
    padding-right: 40px; 
  }
  @media only screen and (min-width: 680px) {
    font-size: 75px;
  }
  @media only screen and (min-width: 950px) {
    font-size: 100px;
  }
}

.p1 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  marign: 0;
  line-height: 1;
  @media only screen and (max-width: 465px) {
    display: block;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.p2 {
  display: inline-block;
  font-size: 1em;
  font-weight: 100;
  marign: 0;
  line-height: 1;
  color: #4FC3F7;
  @media only screen and (max-width: 465px) {
    position: relative;
    top: 0.6em;
  }
}

.hero-down {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  width: 2em;
  height: 2em;
  color: #f5f5f5;
  border-radius: 100%;
  &:hover, &:focus {
    color: #ccc;
  }
  &:active {
    color: #f5f5f5;
  }
  .btn-react {
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    opacity: 0;
    position: absolute;
  }
  i {
    vertical-align: bottom;
    position: relative;
    top: 0.1em;
  }
}