@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body {
  height: 100%;
}

body {
  color: #2c2c2c;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h6 {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  color: #2c2c2c;
  max-width: 555px;
}

h6 {
  margin: 10px 0px 10px 0px;
  font-weight: 500;
}

a {
  color: #2c2c2c;
  transition: opacity 0.2s ease;
  font-family: 'Roboto Mono', monospace;
}

a:hover {
  opacity: 0.6;
}

.content {
  padding-left: 13px;
}
.icons {
  font-size: 13px;
  color: blue;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

.nav-links {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  font-weight: 400;
  margin: 0px 5px 5px 0px;
}

.sage-title {
  max-width: 900px;
  font-size: 169px;
  background: url(../assets/background.JPG) -600px -90px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  white-space: normal;
  word-wrap: break-word;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 15px;
  }
  .sage-title {
    white-space: normal;
    word-wrap: break-word;
    line-height: 169px;
  }
}
