@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body {
  height: 100%;
}

body {
  color: #010101;
  background-color: #010101;
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h6 {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    font-weight: 569;
    color: #f1f1f1;
    max-width: 555px;
}

h6 {
  margin: 10px 0px 10px 0px;
}

a {
  color: #f1f1f1;
}
.container {
  padding-left: 50px;
  padding-right: 50px;
}

.container a {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  font-weight: 569;
  margin: 0px 5px 5px 0px;
}

.sage-title {
  max-width: 900px;
  font-size: 169px;
  background: url(../assets/background.JPG) -600px -90px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: break-word;
  font-weight: 20;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  white-space:normal;
  word-wrap: break-word;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #111; */
}

@media screen and (max-width: 800px) {
  .container {
    padding: 15px;
  }
  .sage-title {
    white-space:normal;
    word-wrap: break-word;
    line-height: 169px;
  }
}