<!DOCTYPE html>
<html>
  <head lang="en">
    <!-- meta and title -->
    <meta charset="UTF-8">
    <title>Leperbase API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- js scripts -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/2.0.0/trianglify.min.js"></script>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leper.css')}}">
    <link rel="stylesheet" type="text/css" href="static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <h1>Hello there, cdubs! Welcome to Leperbase!</h1>
      <form>
        <h2>Ticker List</h2>
        <ul id="ticker-list"></ul>
        <input id="inputField" type="text" width="100">
        <input type="hidden" name="tickerList" id="content-ticker-list">
        <button type="button" onclick="addTicker()">Add Ticker</button>
        <br>
        <input id="leperSubmitButton" type="button" value="Submit" onclick="submitLeperRequest()">
      </form>

      <div>
        <h3>Legend</h3>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>(<-) point to the more recent (newer) metric.</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>Revenue: Quarterly revenue reports going back five quarters or a fiscal year.</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>Rev Growth (%): Most recent quarterly revenue growth measured by percentage (1 = 100%).</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>Earnings: Quarterly earnings per share going back five quarters or a fiscal year.</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>EPS Growth (%):  Most recent earnings per share growth measured by percentage (1 = 100%).</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>FCF: Quarterly free cash flow going back five quarters or a fiscal year.</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>FCF Growth (%): Most recent free cash flow measured by percentage (1 = 100%).</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>Price/Earnigns/Growth: Relate company valuation and their earnings in relation to their growth.</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>Price/Earnigns/Growth: Relate company valuation and their sales in relation to their growth.</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>Price/Sales: Relation of company valutaion and their sales.</small></p>
        <p style="margin-top: 2px; margin-bottom: 2px;"><small>Price Delta: Stock price change over the past six months.</small></p>


      </div>
      
    </div>
    
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="{{ url_for('static', filename='js/leper.js')}}"></script>
  </body>

  <!-- footer -->
  <footer class="footer">
    <div class="footer-right">
      <a rel="noopener" href="https://www.linkedin.com/in/cappillen-lee-077b7615a/" class="fab fa-linkedin" target="_blank"></a>
      <a rel="noopener" href="https://stackoverflow.com/users/7356016/cap-lee" class="fab fa-stack-overflow" target="_blank"></a>
      <a rel="noopener" href="https://github.com/calee14" class="fab fa-github" target="_blank"></a>
    </div>
  </footer>

  

</html>